/* sen-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Sen/sen-v12-latin-700.woff2") format("woff2");
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppins/poppins-v24-latin-regular.woff2") format("woff2");
}
/* poppins-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Poppins/poppins-v24-latin-italic.woff2") format("woff2");
}
/* poppins-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Poppins/poppins-v24-latin-500.woff2") format("woff2");
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Poppins/poppins-v24-latin-600.woff2") format("woff2");
}
/* poppins-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Poppins/poppins-v24-latin-700.woff2") format("woff2");
}
